body{

    background: #E5E5E5;
}
main{
    display: flex;
    text-align: center;
}

.principal{
    width: 900px;
    left: 50px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;   
}

.text-encriptado{

    width: 500px;
    
    /* White */
    background: #FFFFFF;
    
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.input-padron{
    text-align: center;
    border: none;
    font-size: 25px;
}

#mensaje{
    width:95%;
    height: 482px;
    background: #E5E5E5;
    
}
#text-encriptar{
    width: 90%;
    height: 30%;
}
.img{
    margin-top: 15%;
}

.btn{
    position: relative;
   top: 15%;
}

button{
    transition: 1s all;
    cursor: pointer;
    
}

.desencriptar, .encriptar, .boton{
    box-sizing: border-box;
    width: 328px;
    height: 67px;
    
    background: #D8DFE8;
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
}
div .encriptar{
    background: #0A3871;
    color: #FFFFFF;
}

.desencriptar:hover, .encriptar:hover, .boton:hover{
    transform: scale(1.2);
    font-size: 20px;

}


